# General
.DS_Store
Thumbs.db
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build
build
dist

# Environment
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Editor and IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Git
.git/